* {box-sizing:border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
:root {
    --dark: #2B3A67;
    --light: #EFD9CE;
    --accents: #3891A6;

}
header {font-size: 300%;
        text-align: center;
        font-weight: bolder;
        margin-top: 10vh;
        margin-bottom: 5vh;
        background-image:  url("skypic.jpg");
        
    }

nav ul  {list-style-type: none;
        margin: 0;
        padding-left: 10%;
        padding-right: 10%;
        color: var(--light);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

section {
        padding: 25px;
        margin: 15px;
        
        
    }

nav {
    background-color: var(--dark);
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}

nav a :hover {color:var(--accents)}

nav a {color:var(--light);
    padding: 5px;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--light);
    white-space: normal;
}


.project {
    border-style: solid;
    border-radius: 15%;
    border-width: 10px;
    border-color:var(--accents);
    padding: 10px;
    float: left;
    width: 25%;
    text-align: center;
}

h1 {
    font-size: x-large;
    color: var(--dark);
}     
    
h2 {
    font-size:medium

}

#projectone img {
    width: 40%;

}

#projectone header {
    padding: 20px;
    font-size: medium;
}

#projectone {
    text-align: center;
    border-style: solid;
    border-radius: 15%;
    border-width: 10px;
    border-color:var(--accents);
    padding: 10px;
    float: left;

}


.project header {
    padding: 20px;
    font-size: medium;
  }
  

.project p {
    text-align: center;
  }
  
.project img {
    width: 33%;
    
  }
  
  
  @media screen and (max-width: 992px) {
    .project {
      width: 50%;
    }
}
  
  @media screen and (max-width: 768px) {
    .project {
      width: 100%;
    }

}
  